---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "10.0.0.2"     # <-- IP PRIVADA REAL
  bindPort: 6443
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
failSwapOn: false
featureGates:
  NodeSwap: true
memorySwap:
  swapBehavior: LimitedSwap
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
controlPlaneEndpoint: "10.0.0.2:6443"  # <-- IP PRIVADA PARA LOS WORKERS
networking:
  podSubnet: "10.244.0.0/16"           # --pod-network-cidr
apiServer:
  certSANs:
    - 10.0.0.2                        # privada
    - 188.34.206.211                  # pública (la mantengo porque ya la tenías)
    - localhost
